.score-boardTER {
    width: 320px;
    display: grid;
    grid-auto-flow: column;
    margin-top: 5px;
}

.score-boardTER div {
    color: white;
    text-align: center;
    font-size: 2em;
    padding: 5px;
    font-weight: bold;
    background-color: #0400e0;
}

.score-boardTER div:first-child {
    background-color: red;
}